<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
            Please add this <a href="assets/js/widget.js">Java Script code</a> to you site to get our avg rating!
            Widget require jQuery. Please change `uuid` and `url` inside the script according to data we provide.
        {% endblock %}
        {% block javascripts %}
            <script
                    src="https://code.jquery.com/jquery-3.5.1.min.js"
                    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
                    crossorigin="anonymous"></script>
            <script src="assets/js/widget.js"></script>
        {% endblock %}
    </body>
</html>
